<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Buscar por nombre"
        [(ngModel)]="name"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchName()"
        >
          Buscar
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h4>Lista de restaurantes</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let restaurant of restaurants; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveRestaurants(restaurant, i)"
      >
        {{ restaurant.name }}
      </li>
    </ul>

    <button class="m-3 btn btn-sm btn-danger" (click)="removeAllRestaurants()">
      Eliminarlos todos
    </button>
  </div>
  <div class="col-md-6">
    <div *ngIf="currentRestaurant">
      <h4>Restaurante</h4>
      <div>
        <label><strong>Name:</strong></label> {{ currentRestaurant.name }}
      </div>
      <div>
        <label><strong>Logo:</strong></label>
        {{ currentRestaurant.logo }}
      </div>
      <div>
        <label><strong>Date:</strong></label>
        {{ currentRestaurant.date }}
      </div>
      <div>
        <label><strong>owner:</strong></label>
        {{ currentRestaurant.ownerName }}
      </div>
      <div>
        <label><strong>Address:</strong></label>
        {{ currentRestaurant.address }}
      </div>
      <div>
        <label><strong>Restaurant type:</strong></label>
        {{ currentRestaurant.restaurantType }}
      </div>
      <div>
        <label><strong>Status:</strong></label>
        {{ currentRestaurant.published ? "Publicado" : "Pendiente" }}
      </div>

      <a class="badge badge-warning" routerLink="/restaurants/{{ currentRestaurant.id }}">
        Edit
      </a>
    </div>

    <div *ngIf="!currentRestaurant">
      <br />
      <p>Haz click sobre un restaurante...</p>
    </div>
  </div>
</div>
