<div class="edit-form" *ngIf="currentRestaurant"> 
  <h4>Restaurante</h4>
  <form class="submit-form">
    <div class="form-group form-conteiner mb-3">
      <input
        type="text"
        class="form__input"
        id="name"
        required
        [(ngModel)]="currentRestaurant.name"
        name="name"
        autocomplete="off" placeholder=" "
      />
      <label for="name" class="form__label">Nombre del restaurante</label>
    </div>
    <div class="form-group form-conteiner mb-4">
      <input
        class="form__input__file"
        id="logo"
        type="file"
        required
        [(ngModel)]="currentRestaurant.logo"
        name="logo" autocomplete="off" placeholder=" "
      />
      <label for="logo" class="form__label__file">Logo</label>
    </div>
    <div class="form-group form-conteiner mb-3">
      <input
      class="form__input"
      type="date"
        id="datePublish"
        required
        [(ngModel)]="currentRestaurant.datePublish"
        name="datePublish"
        autocomplete="off" placeholder=" "
      />
      <label for="description" class="form__label">Fecha de publicación</label>
    </div>
    <div class="form-group form-conteiner mb-3">
      <input
      class="form__input"
        id="ownerName"
        required
        [(ngModel)]="currentRestaurant.ownerName"
        name="ownerName"
        autocomplete="off" placeholder=" "
      />
      <label for="description" class="form__label">Nombre del dueño</label>
    </div>
    <div class="form-group form-conteiner mb-5r">
      <textarea
      class="form__input__textarea"
        id="addressRestaurant"
        required
        [(ngModel)]="currentRestaurant.addressRestaurant"
        name="addressRestaurant"
        autocomplete="off" placeholder=" "
        ></textarea>
      <label for="description" class="form__label__textarea">Dirección</label>
    </div>
    <div class="mb-3" >
      <ng-multiselect-dropdown [placeholder]="'Seleccione tipo de restaurante'" [settings]="dropdownSettings"
      name="restaurantType" id="restaurantType" class="mb-3"
      [data]="dropdownList" [(ngModel)]="selectedItems" (onSelect)="onItemSelect($event)"
        (onSelectAll)="onSelectAll($event)">
      </ng-multiselect-dropdown>
    </div>
    <div class="mb-3" >
      <ng-multiselect-dropdown [placeholder]="'Seleccione el menú'" [settings]="dropdown2Settings"
      name="menu" id="menu"  class="mb-3"
      [data]="dropdownList" [(ngModel)]="selectedItems2" (onSelect)="onItem2Select($event)"
        (onSelectAll)="onSelect2All($event)">
      </ng-multiselect-dropdown>
    </div>
    <div class="form-group">
      <label><strong>Status:</strong></label>
      {{ currentRestaurant.published ? "Publicado" : "Pendiente" }}
    </div>
  </form>

  <button
    class="btn btn-block btn-primary mr-2"
    *ngIf="currentRestaurant.published"
    (click)="updatePublished(false)"
  >
    No publicar
  </button>
  <button
    *ngIf="!currentRestaurant.published"
    class="btn btn-block btn-primary mr-2"
    (click)="updatePublished(true)"
  >
    Publicar
  </button>

  <button class="btn btn-block btn-danger mr-2" (click)="deleteRestaurant()">
    Borrar
  </button>

  <button type="submit" class="btn btn-block btn-success" (click)="updateRestaurant()">
    Actualizar
  </button>
  <p>{{ message }}</p>
</div>

<div *ngIf="!currentRestaurant">
  <br />
  <p>No puedes acceder a este restaurante...</p>
</div>
